@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');
@font-face {
  font-family: 'Instrument Sans';
  src: url("https://fonts.google.com/specimen/Instrument+Sans");
}

*{
  font-family: 'Instrument Sans', sans-serif;
}